.image2{
    width: 200px;
    height: 200px;
    border-radius:100% ;
    background-color: rgb(255, 255, 255);
    border: 200px  rgb(240, 133, 12);
    
   
}
.a{
    background-color: rgb(250, 250, 250);
}